<div class="route">
  <%= simple_form_for @route, html: {autocomplete: 'off'}, defaults: { label: false } do |f| %>
    <div class="row">
      <div class="col-xs-12 route-highlight-cell text-center">
        Edit Route
      </div>
    </div>
    <div class="row">
      <div class="route-input-label">
        Starting System:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :starting_system, placeholder: 'Starting System' %>
      </div>
      <div class="route-input-label">
        Starting Dock:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :starting_dock, placeholder: 'Starting Dock' %>
      </div>
    </div>
    <div class="row">
      <div class="route-input-label">
        Ending System:
      </div>
      <div class="route-input-cell">
        <%= f.input_field  :ending_system, placeholder: 'Ending System' %>
      </div>
      <div class="route-input-label">
        Ending Dock:
      </div>
      <div class="route-input-cell">
        <%= f.input_field  :ending_dock, placeholder: 'Ending Dock' %>
      </div>
    </div>
    <div class="row">
      <div class="route-input-label">
        Jump Distance in LY:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :jump_distance, placeholder: '12.34' %>
      </div>
      <div class="route-input-label">
        Dock Distance in LS:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :dock_distance, placeholder: '1234' %>
      </div>
    </div>
    <div class="row">
      <div class="route-input-label">
        Purchase Price:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :buy_price, placeholder: 'Purchase Price' %>
      </div>
      <div class="route-input-label">
        Sell Price:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :sell_price, placeholder: 'Sell Price' %>
      </div>
    </div>
    <div class="row">
      <div class="route-input-label">
        Commodity:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :commodity, placeholder: 'Commodity Purchased' %>
      </div>
      <div class="route-input-label">
        Cargo Capacity:
      </div>
      <div class="route-input-cell">
        <%= f.input_field :cargo_capacity, placeholder: '12' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 route-input-cell route-input-submit border-top clear-padding">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>

